* {
    font-family: "ＭＳ Ｐゴシック";
    font-weight: 900;
    font-size: 2vmin;
}

body, html {
    background-color: rgb(38, 41, 48);
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Board Container */

#boardContainer {
    width: fit-content;
    margin: auto;
}

#boardContainer.lostBorder {
    outline: 10px solid rgb(134, 46, 46);
}

#boardContainer.wonBorder {
    outline: 10px solid rgb(49, 134, 46);
}

.boardRow {
    display: flex;
}

.boardCell {
    width: 3vmin;
    height: 3vmin;
    line-height: 3vmin;
    border: none;
}

.boardCell:hover {
    filter: brightness(150%);
}

/* Data container */

#dataContainer {
    margin: 1vmin;
}

#dataContainer #difficulty, #dataContainer #screenShakeTag {
    border: 0.5vmin outset rgb(239, 239, 239);
    background-color: rgb(193, 193, 193);
    padding: 9px;
    margin: none;
}

#dataContainer #difficulty:active {
    border-style: inset;
}

.hiddenCell { 
    background-color: rgb(193, 193, 193);
    border: 0.5vmin outset rgb(239, 239, 239);
}

.revealedCell {
    background-color: rgb(190, 190, 190);
    border: 0.5vmin solid rgb(190, 190, 190);
}

.shake {
    animation: shake 0.2s;
}

/* Snatched from stackoverflow :) */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }