* {
    font-family: "ＭＳ Ｐゴシック";
    font-weight: bolder;
    text-shadow: 1px 0 currentColor;
    font-size: 15px;
}

body {
    height: 100%;
    background-color: rgb(38, 41, 48);
    overflow: hidden;
}

#boardContainer {
    width: fit-content;
    outline: 10px solid rgb(89, 89, 89);
    margin: 20px;
}

#boardContainer.lostBorder {
    outline: 10px solid rgb(134, 46, 46);
}

#boardContainer.wonBorder {
    outline: 10px solid rgb(49, 134, 46);
}

.boardRow {
    display: flex;
}

.boardCell {
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: center;
    border: none;
    line-height: 30px;
}

.boardCell:hover {
    filter: brightness(150%);
}

#dataContainer {
    display: flex;
    align-items: center;
}

#dataContainer select {
    border: 3px inset rgb(239, 239, 239);
    background-color: rgb(193, 193, 193);
    padding: 9px;
    margin-left: 10px;
    font-weight: bolder;
}

#dataContainer #wins, #dataContainer #losses {
    border: 3px inset rgb(239, 239, 239);
    background-color: rgb(193, 193, 193);
    padding: 10px;
    margin-left: 10px;
}

/* #boardContainer:active {
    animation: shake 0.1s;
} */

.hiddenCell { 
    background-color: rgb(193, 193, 193);
    border: 5px outset rgb(239, 239, 239);
}

.revealedCell {
    background-color: rgb(190, 190, 190);
    border: 5px solid rgb(190, 190, 190);
}

.shake {
    animation: shake 0.2s;
}

/* Snatched from stackoverflow :) */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }